@use "../../partials/mixins" as *;

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 0.5rem;
}
.marsCard {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1rem;
  margin: 1rem 0.75rem 0 0.75rem;
  background: transparent;
  box-shadow: 0px -2px 6px 4px rgb(145, 179, 200);
  outline: 0.5px solid hsl(0, 1%, 69%);
  @include tablet {
    width: 46%;
  }
  @include desktop {
    width: 30%;
  }

  &__header-wrapper {
    align-self: center;
  }
  &__header {
    //References Cut Header Styling: Joseph Wong from Medium.com
    flex-basis: 100%;
    $random-text: "WELCOME TO MARS";
    position: relative;
    text-transform: uppercase;
    font-size: 2rem;
    color: transparent;
    font-weight: 900;
    font-family: "Catamaran", sans-serif;
    font-style: italic;

    @include tablet {
      font-size: 3rem;
    }
    @include desktop {
      font-size: 6rem;
    }

    &:after {
      content: $random-text;
      position: absolute;
      left: -10px;
      top: -2px;
      color: rgb(145, 179, 200);
      $path: polygon(0 25%, 100% 65%, 100% 100%, 0% 100%);
      -webkit-clip-path: $path;
      clip-path: $path;
    }

    &:before {
      content: $random-text;
      position: absolute;
      color: rgb(145, 179, 200);
      $path: polygon(0 0, 110% 0, 100% 65%, 0 25%);
      -webkit-clip-path: $path;
      clip-path: $path;
    }
  }
  &__heading {
    font-size: 1.2rem;
    line-height: 1.75rem;
  }
  &__date {
    flex-basis: 100%;
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    padding: 0.5rem;
  }
  &__mars-image {
    width: 100%;
    &:hover {
      transform: perspective(100px) translateZ(5px);
      border: 3px solid rgb(241, 241, 153);
    }
  }
  &__btn-Like {
    display: block;
    width: 5rem;
    margin: 1rem;
    border: 1px solid lightgrey;
    border-radius: 3px;
    &:hover {
      background-color: rgb(145, 179, 200);
      color: rgb(240, 236, 189);
      border: none;
    }
    &:active {
      transform: perspective(100px) translateZ(-10px);
    }
  }
  &__btn-Liked {
    display: block;
    background-color: rgb(241, 241, 94);
    width: 5rem;
    margin: 1rem;
    border: 1px solid lightgrey;
    border-radius: 3px;
    &:hover {
      background-color: rgb(145, 179, 200);
      color: rgb(240, 236, 189);
      border: none;
    }
    &:active {
      transform: perspective(100px) translateZ(-10px);
    }
  }
  &__star-icon {
    width: 1.2rem;
    padding: 0.2rem 0.2rem 0 0;
  }
}
