.card {
  margin: 1.5rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: rgb(233, 229, 229);

  &__image {
    width: 100%;
    object-position: center;
    object-fit: cover;
    border-radius: 10px;
  }
  &__heading {
    font-size: 2rem;
  }
  &__content {
    font-size: 1.5rem;
  }
  &__copy {
    font-size: 1rem;
    line-height: 1.4rem;
  }
}

.apod__loading {
  margin: 10rem;
}
