.card {
  margin: 1.5rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: transparent;

  &__image {
    width: 100%;
    object-position: center;
    object-fit: cover;
    border: none;
    border-radius: 10px;
  }
  &__header {
    padding: 1rem;
  }

  &__heading {
    font-size: 2rem;
  }
  &__content {
    font-size: 1.5rem;
  }
  &__copy {
    font-size: 1rem;
    line-height: 1.4rem;
  }
  //TODO
  &__btn-Like {
    padding: 0.2rem;
    margin-bottom: 0.5rem;
    display: inline-block;
    border: 1px solid lightgrey;
    border-radius: 3px;
    width: 5rem;
    font-size: 1rem;
    transform: perspective(100px) translateZ(-20px);
    &:hover {
      color: lightgrey;
      background-color: rgb(145, 179, 200);
    }
  }
  &__btn-Liked {
    background-color: rgb(241, 241, 94);
    padding: 0.2rem;
    margin-bottom: 0.5rem;
    display: inline-block;
    border: 1px solid lightgrey;
    border-radius: 3px;
    width: 5rem;
    font-size: 1rem;
    transform: perspective(100px) translateZ(-20px);
    &:hover {
      background-color: rgb(145, 179, 200);
      color: rgb(240, 236, 189);
      border: none;
    }
  }
  &__star-icon {
    width: 1rem;
    padding: 0.2rem 0.2rem 0 0;
  }
}

.apod__loading {
  margin: 10rem;
}
.icon__ref {
  font-size: 0.5rem;
  padding: 1rem;
  display: block;
  text-decoration: none;
  color: lightgray;
}
