.card {
  margin: 1.5rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: rgb(233, 229, 229);

  &__image {
    width: 100%;
    object-position: center;
    object-fit: cover;
    border-radius: 10px;
  }
}

.apod__loading {
  margin: 10rem;
}
