// @import "@shopify/polaris/build/esm/styles.css";

.Polaris-MediaCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  &__hero-image {
    width: 100%;
    object-fit: cover;
    object-position: center;
  }
}

.Polaris-MediaCard__Popover {
  display: none;
}
